{% extends "base.html" %}

{% block title %}Пароль сброшен{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-0">Пароль сброшен</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Инструкции отправлены!</h4>
                        <p>Мы отправили вам по электронной почте инструкции по сбросу пароля.</p>
                    </div>
                    <a href="{% url 'blog:index' %}" class="btn btn-primary">
                        На главную
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
